@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-circle {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 53% 80%, 0 77%);
}

.image{
  background-image:url('../src/assets/image.jpg') ;
  
}

[data-aos="animate"] {
  opacity: 0;
  transform: translateX(0px);
  transition-property: transform, opacity;
}

[data-aos="animate"].aos-animate {
  transform: translateX(20px);
  opacity: 1;
}

.parallax-container {
  overflow: hidden;
}

.parallax-container > img {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
}

.parallax-container:hover > img {
  transform: translateZ(-20px);
}




